:root {
    --ph-marker-pos: 20px;
    /* --tds-marker-pos: 290px; */
  }
  
  .tds__marker__container {
    width: 100%;
    z-index: 10;
    margin-top: -25px;
    position: relative;
  }
  
  .tds__marker {
    position: absolute;
    left: var(--ph-marker-pos);
    width: 30px;
    height: 30px;
  }