.tds__img {
  position: relative;
  margin-top: 10px;
}

.too-high-label {
  font-size: 1.25rem; /* Adjust font size as needed */
  color: #e3342f; /* Red color for "Too High" */
  text-align: center;
}


.marker {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.animate-wave1 {
  animation: wave1 20s linear infinite;
}

.animate-wave2 {
  animation: wave2 15s linear infinite;
  animation-delay: -5s;
}

.animate-wave3 {
  animation: wave3 15s linear infinite;
  animation-delay: -2s;
}

.animate-wave4 {
  animation: wave4 10s linear infinite;
  animation-delay: -3s;
}

.animate-wave5 {
  animation: wave5 15s linear infinite;
  animation-delay: -1s;
}

@keyframes wave1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes wave3 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave4 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes wave5 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
