
:root{
    --tds-marker-pos : 0px
    /* --tds-marker-pos : 220px */
}


.tds__marker__container{
    width: 100%;
    z-index: 10;
    margin-top: -25px;
    position: relative;
}

.tds__marker{
    position: absolute;
    left: var(--tds-marker-pos);
    width: 30px;
    height: 30px;
}